* {
	color:white;
	font-family: arial;
}

html, body {
	background-color:black;
	overflow-x:hidden;
}

input[type=text] {
	border: none;
	border-bottom: 2px solid #ffa705;
	background-color: #7f7f7f;
	color: white;
	padding: 5px;
}

select, option {
	display: inline-block;
	border-radius: 4px;
	background-color: #f4511e;
	border: none;
	color: #FFFFFF;
	text-align: center;
	font-size: 14px;
	padding: 5px;
	width: 50px;
	transition: all 0s;
	cursor: pointer;
	margin: 5px;
}

#start, #names, #stats, #day, #corn, #deaths, #winner, #summary {
	background-image:url("http://bestscreenwallpaper.pro/wp-content/uploads/2015/11/Logo-The-Hunger-Games-Mockingjay-Part-2.jpg");
	-webkit-background-size:cover;
	-moz-background-size:cover;
	background-size:cover;
	color:white;
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	text-align:center;
}

#start {
	z-index:5;
}

#names {
	z-index:4;
}

#stats {
	z-index:3;
}

#day {
	z-index:1;
}

#corn {
	z-index:2;
}

#deaths, #winner, #summary {
	z-index:0;
	visibility:hidden;
}

#reaping {
	margin-bottom:20px;
}

.credits {
	text-align:right;
}

.header {
	text-align: center;
	font-family: arial;
	background-color: #f4511e;
	color: white;
	padding-top:15px;
	width: 100%;
	box-shadow: 0px 5px 20px #3a3a3a;
}

.footer {
	text-align: center;
	font-family: arial;
	background-color: #ffa705;
	color: white;
	padding: 15px;
	width: 100%;
	position: absolute;
	bottom: 0px;
}

.button {
	display: inline-block;
	border-radius: 4px;
	background-color: #f4511e;
	border: none;
	color: #FFFFFF;
	text-align: center;
	font-size: 14px;
	padding: 5px;
	width: 150px;
	transition: all 0s;
	cursor: pointer;
	margin: 5px;
}

.button span {
	color: white;
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0s;
}

.button span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0s;
}

.button:hover span {
	padding-right: 25px;
	transition: 0s;
}

.button:hover span:after {
	opacity: 1;
	right: 0;
	transition: 0s;
}

input[type=text]:focus {
	border: none;
	border-bottom: 2px solid #f4511e;
	background-color: #7f7f7f;
}

input[type=number] {
	border: none;
	border-bottom: 2px solid #ffa705;
	background-color: #7f7f7f;
	color: white;
	padding: 5px;
}

input[type=number]:focus {
	border: none;
	border-bottom: 2px solid #f4511e;
	background-color: #7f7f7f;
}
